/* Core CSS overrides */

span.comment {
	font-style: normal;
}
span.autocomment {
	font-style: italic;
}
h1#firstHeading {
	max-width: 555px;
	margin-left: 45px;
}

/* Echo specific CSS */

#mw-echo-more {
	text-align: center;
	font-size: 13px;
	max-width: 600px;
	margin-left: 45px;
}

#mw-echo-pref-link {
	margin: 5px 3px;
	height: 18px;
	width: 18px;
	display: block;
	float: right;
	/* @embed */
	background-image: url(Preferences.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#mw-echo-pref-link:hover {
	/* @embed */
	background-image: url(PreferencesHover.png);
}
#mw-echo-moreinfo-link {
	margin: 5px 3px;
	height: 18px;
	width: 18px;
	display: block;
	float: right;
	/* @embed */
	background-image: url(MoreInfo.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#mw-echo-moreinfo-link:hover {
	/* @embed */
	background-image: url(MoreInfoHover.png);
}

.mw-echo-date-section {
	font-weight: 800;
	font-size: 1.1em;
	text-transform: uppercase;
	border-bottom: 8px solid #EAEAEA;
	margin: 20px 0 5px 45px;
}

ul#mw-echo-special-container {
	list-style: none;
	margin: 30px 0 0 0;
	max-width: 600px;
}
.mw-echo-notification {
	padding: 15px 0 10px 0;
}
