@badge-padding: 0.12em;
@badge-icon-size: 1.1em;
@badge-distance-adjustment: -0.4em;

@notification-background-unseen: #dce8ff;
@notification-background-unread: white;
@notification-background-read: #f1f1f1;

@notification-text-color: #111;
@notification-body-color: #777;

@bundle-group-padding: 0.7em;
@notification-popup-width: 500px;

@opacity-low: 0.5;
@opacity-mid: 0.8;

@specialpage-separation-unit: 0.7em;
@specialpage-sidebar-width: 20em;

@grey-light: #777;
@grey-medium: #555;
@grey-dark: #333;
@grey-darkest: #000;

@border-color: #ccc;
