.mw-echo-ui-notificationBadgeButtonPopupWidget {
	text-transform: none;
	font-weight: normal;
	// Badge
	> .oo-ui-buttonElement-button:hover {
		.oo-ui-labelElement-label {
			color: black !important;
		}
	}
}
