@import '../echo.variables';

/* We have to include the #pt-notifications selector due to monobook */
.mw-echo-notifications-badge {
	#pt-notifications-notice &,
	#pt-notifications-alert & {
		display: inline-block;
		width: 16px;
		height: 16px;
		background-size: 16px 16px;
		top: -1px;
		// HACK: text-indent: -9999px doesn't work with display: inline-block, so hide the text
		// using a positive text-indent instead (T226503). Also make the text transparent so that
		// it doesn't show up even if someone does somehow have a 10k-pixel-wide monitor.
		text-indent: 9999px;
		color: transparent;

		&:after {
			top: 3px;
		}
	}
}

#p-personal #pt-notifications-alert,
#p-personal #pt-notifications-notice {
	margin-right: 0.2em;
}
