.mw-echo-title {
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
}
.mw-echo-content {
	font-size: 11px;
	overflow: hidden;
}
.mw-echo-payload {
	margin-top: 0.5em;
}
.mw-echo-timestamp {
	color: #A5A5A5;
	margin-top: 0.5em;
	font-size: 11px;
}
.mw-echo-notifications {
	background-color: #EEEEEE;
}
.mw-echo-notification {
	clear: both;
	display: block;
	color: #6D6D6D;
	line-height: 90%;
	margin: 0;
	background-color: white;
	position: relative;
	/* Force container to expand to height of floated contents */
	overflow: hidden;
	zoom: 1;
}
