.mw-echo-timestamp {
	color: gray;
	font-size: 9px;
}

div.mw-echo-timestamp {
	text-align: right;
}

.mw-echo-title {
	font-size: 13px;
	font-weight: normal;
	line-height: 12px;
}

.mw-echo-content {
	font-size: 11px;
}

.mw-echo-notification {
	clear: both;
	display: block;
	color: #252525;
	padding: 15px 15px 10px 15px;
	margin: 0;
	/* Force container to expand to height of floated contents */
	overflow: hidden;
	zoom: 1;
}
