.mw-echo-title {
	font-size: 13px;
	line-height: 14px;
	font-weight: normal;
}
.mw-echo-content {
	font-size: 13px;
	line-height: 16px;
	overflow: hidden;
}
.mw-echo-payload {
	margin-top: 0.3em;
}
/* Including .mw-echo-timestamp for backwards compat */
.mw-echo-timestamp, .mw-echo-notification-footer {
	color: #6D6D6D;
	font-size: 11px;
	margin-top: 0.2em;
}
.mw-echo-notifications {
	background-color: #EEEEEE;
}
.mw-echo-notification {
	clear: both;
	display: block;
	color: #6D6D6D;
	line-height: 90%;
	margin: 0;
	min-height: 30px;
	background-color: white;
	position: relative;
	padding-top: 15px;
	padding-bottom: 10px;
	/* Force container to expand to height of floated contents */
	overflow: hidden;
	zoom: 1;
}
.mw-echo-notification.mw-echo-unread {
	color: #252525;
}
.mw-echo-notification span.autocomment {
	color: inherit;
	font-style: normal;
}
.mw-echo-icon {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
