.mw-echo-timestamp {
	color: gray;
	font-size: 9px;
}

.mw-echo-unread {
	background: url(unread.png) repeat-y top left;
}

div.mw-echo-timestamp {
	text-align: right;
}

.mw-echo-title {
	font-size: 13px;
	font-weight: bold;
	line-height: 12px;
}

.mw-echo-content {
	font-size: 11px;
}

.mw-echo-notification {
	clear: both;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #252525;
	height: 42px;
	overflow: none;
}
