@import '../echo.variables';

#p-personal li.mw-echo-ui-notificationBadgeButtonPopupWidget {
	text-transform: none;
	font-weight: normal;

	&-popup {
		// #p-personal li has a font-size of 0.75em, but we want the
		// font size here to be exactly 0.875em, so we must override
		// the parent em sizing by dividing.
		font-size: 0.875em / 0.75em;

		a.oo-ui-buttonElement-button {
			color: #333;
		}
	}

	a {
		background-color: initial;
	}

	// Badge
	> .oo-ui-buttonElement-button {
		&:hover {
			.oo-ui-labelElement-label {
				color: #000 !important;
			}
		}
	}

	// Footer
	.oo-ui-popupWidget-footer {
		// Override text-align that monobook uses for #p-personal li
		text-align: left;
	}
}
