@import '../echo.variables';
.mw-echo-ui-notificationsInboxWidget {
	max-width: @specialpage-width;

	&-row {
		display: table-row;
		width: 100%;
	}
	&-cell {
		display: table-cell;
		vertical-align: middle;
		&-placeholder {
			display: table-cell;
			width: 100%;
		}
	}

	&-sidebar {
		width: @specialpage-sidebar-width;
		padding-right: 1em;
		vertical-align: top;
	}

	&-main {
		vertical-align: top;
		width: 100%;

		&-toolbar {
			&-top {
				display: table;
				margin-bottom: 3 * @specialpage-separation-unit;
				width: 100%;
			}

			&-bottom {
				display: table;
				width: inherit;
				margin-left: auto;
				margin-right: auto;
				margin-top: 3 * @specialpage-separation-unit;
			}
		}
	}

}
