body #p-personal {
	overflow: visible;
}

#p-personal li.mw-echo-ui-notificationBadgeButtonPopupWidget {
	font-variant: normal;
	text-transform: none;
	font-weight: normal;
	// Badge
	> .oo-ui-buttonElement-button {
		border-radius: 0;
	}
	// Popup buttons
	.oo-ui-buttonElement-button:hover {
		// In modern, the hover color is white, which is unhelpful.
		color: #666;
	}
}
