.mw-echo-overlay {
	position: absolute;
	top: 2em;
	right: 5em;
	border: 1px solid #A7D7F9;
	background-color: #fff;
	width: 450px;
	min-height: 2em;
	padding: 15px 15px 15px 0;
	color: #252525;
	z-index: 10;
	overflow: auto;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.mw-echo-overlay ul {
	margin-left: 0;
}

.mw-echo-overlay li {
	/*	border-bottom: 1px solid #A7D7F9;*/
	display: block;
}

.mw-echo-overlay-title {
	/*border-bottom: 1px solid #A7D7F9;*/
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 20px;
}

.mw-echo-overlay-link a {
	font-size: 0.8em !important;
	color: #3366bb !important;
}

.mw-echo-overlay-link {
	margin-left: 20px;
}

#pt-notifications .mw-badge {
	margin-left: 3px;
}

.mw-echo-overlay .mw-echo-notification {
	padding-left: 20px;
}

.mw-echo-overlay .mw-echo-unread {
	/* @embed */
	background: url(unread.png) repeat-y top left;
}

#pt-notifications .mw-badge {
	margin-left: 3px;
}

.mw-echo-overlay-none {
	margin-left: 20px;
}
