.mw-echo-overlay {
	position: absolute;
	top: 2.6em;
	right: 0;
	border: 1px solid silver;
	background-color: #fff;
	width: 450px;
	min-height: 2em;
	padding: 15px 0 0 0;
	color: #6D6D6D;
	z-index: 10;
	overflow: auto;
	box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.35);
}

.mw-echo-overlay ul {
	margin: 0;
}

.mw-echo-overlay li {
	/*	border-bottom: 1px solid #A7D7F9;*/
	display: block;
}

.mw-echo-overlay-title {
	/*border-bottom: 1px solid #A7D7F9;*/
	font-size: 13px;
	padding: 0 15px 10px 60px;
	border-bottom: 1px solid #DDDDDD;
}

.mw-echo-overlay-link {
	clear: left;
	float: left;
	margin: 15px 15px 15px 60px;
	padding: 0px 0px 0px 18px;
	width: 160px;
	min-height: 14px;
	font-size: 0.8em;
	/* @embed */
	background-image: url(../icons/NotificationsPage.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.mw-echo-overlay-pref-link {
	float: left;
	width: 150px;
	min-height: 14px;
	font-size: 0.8em;
	margin: 15px 0;
	padding-left: 18px;
	/* @embed */
	background-image: url(../icons/Settings.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#pt-notifications .mw-badge {
	margin-left: 3px;
}

.mw-echo-overlay .mw-echo-notification {
	border-bottom: 1px solid #DDDDDD;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.mw-echo-overlay .mw-echo-unread {
	filter: alpha(opacity=100);
	opacity: 1.0;
}

#pt-notifications .mw-badge {
	margin-left: 3px;
}

.mw-echo-overlay-none {
	margin-left: 20px;
}
