.mw-echo-overlay {
	position: absolute;
	top: 2.6em;
	right: 0;
	border: 1px solid silver;
	background-color: #fff;
	width: 450px;
	min-height: 2em;
	padding: 15px 0 15px 0;
	color: #252525;
	z-index: 10;
	overflow: auto;
	box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.35);
}

.mw-echo-overlay ul {
	margin: 0;
}

.mw-echo-overlay li {
	/*	border-bottom: 1px solid #A7D7F9;*/
	display: block;
}

.mw-echo-overlay-title {
	/*border-bottom: 1px solid #A7D7F9;*/
	font-size: 15px;
	font-weight: bold;
	padding: 0 15px 10px 15px;
	border-bottom: 1px solid silver;
}

.mw-echo-overlay-link a {
	font-size: 0.8em !important;
	color: #3366bb !important;
}

.mw-echo-overlay-link {
	clear: left;
	margin-left: 20px;
}

#pt-notifications .mw-badge {
	margin-left: 3px;
}

.mw-echo-overlay .mw-echo-notification {
	border-bottom: 1px solid silver;
}

.mw-echo-overlay .mw-echo-unread {
	background-color: #f1f1f1;
}

#pt-notifications .mw-badge {
	margin-left: 3px;
}

.mw-echo-overlay-none {
	margin-left: 20px;
}
