.mw-echo-overlay {
	position: absolute;
	top: 2.6em;
	left: -200px;
	border: 1px solid silver;
	background-color: #fff;
	width: 450px;
	min-height: 2em;
	padding: 0;
	color: #6D6D6D;
	z-index: 60;
	box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.35);
}
.mw-echo-overlay-pokey {
	/* @embed */
	background-image: url('PokeyNorth.png');
	background-repeat: no-repeat;
	width: 21px;
	height: 11px;
	position: absolute;
	z-index: 61;
	top: 21px;
	left: -9px;
}

#p-personal .mw-echo-overlay ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}

#p-personal .mw-echo-overlay li.mw-echo-notification {
	background-color: #F0F0F0;
	display: block;
	float: none;
	border-bottom: 1px solid #DDDDDD;
	padding: 15px 40px 10px 15px;
	margin: 0;
	white-space: normal;
	font-size: 13px;
	line-height: 16px;
}
#p-personal .mw-echo-overlay li.mw-echo-notification:hover {
	background-color: #F8F8F8;
}
#p-personal .mw-echo-overlay li.mw-echo-notification.mw-echo-unread,
#p-personal .mw-echo-overlay li.mw-echo-notification.mw-echo-unread:hover {
	background-color: white;
}
#p-personal .mw-echo-overlay li.mw-echo-notification:last-child {
	border-bottom: none;
}
#p-personal .mw-echo-overlay li.mw-echo-notification .mw-echo-state {
	filter: alpha(opacity=50);
	opacity: 0.5;
}
#p-personal .mw-echo-overlay li.mw-echo-notification.mw-echo-unread .mw-echo-state {
	filter: alpha(opacity=100);
	opacity: 1.0;
}

.mw-echo-overlay-title {
	/*border-bottom: 1px solid #A7D7F9;*/
	font-size: 13px;
	padding: 15px 15px 15px 60px;
	border-bottom: 1px solid #DDDDDD;
	font-weight: bold;
}

#mw-echo-overlay-footer {
	padding: 0px 0px 0px 48px;
	border-top: 1px solid #DDDDDD;
}

#mw-echo-overlay-link {
	clear: left;
	float: left;
	padding: 15px 0px 15px 30px;
	width: 150px;
	min-height: 14px;
	font-size: 13px;
	/* @embed */
	background-image: url(../icons/NotificationsPage.png);
	background-repeat: no-repeat;
	background-position: 12px 15px;
}

#mw-echo-overlay-pref-link {
	float: left;
	width: 150px;
	min-height: 14px;
	font-size: 13px;
	padding: 15px 0 15px 30px;
	border-left: 1px solid #DDDDDD;
	/* @embed */
	background-image: url(../icons/Settings.png);
	background-repeat: no-repeat;
	background-position: 12px 15px;
}

#pt-notifications {
	position: relative;
}

#pt-notifications .mw-badge {
	margin-left: 3px;
}

#pt-notifications .mw-badge {
	margin-left: 3px;
}

.mw-echo-overlay-none {
	font-size: 13px;
	border-bottom: 1px solid #DDDDDD;
	padding: 15px 15px 10px 60px;
}
