.mw-echo-overlay {
	position: absolute;
	top: 30px;
	left: -200px;
	border: 1px solid silver;
	background-color: #fff;
	width: 450px;
	min-height: 2em;
	padding: 0;
	color: #6D6D6D;
	z-index: 100;
	box-shadow: 0 3px 8px rgba(50, 50, 50, 0.35);
}
.mw-echo-overlay-pokey {
	/* @embed */
	background-image: url('PokeyNorth.png');
	background-repeat: no-repeat;
	width: 21px;
	height: 11px;
	position: absolute;
	z-index: 101;
	top: 20px;
	left: -5px;
}


#p-personal {
	.mw-echo-overlay-title ul,
	.mw-echo-notifications ul {
		// override #p-personal ul in core
		padding: 0;
	}
	// override #p-personal ul in core
	li.mw-echo-notification {
		margin: 0;
		float: none;
	}
}

.mw-echo-title {
	a {
		font-weight: bold;
	}
}

.mw-echo-overlay {
	button {
		top: 15px;
		right: 15px;
		position: absolute;
	}

	.mw-ui-progressive {
		cursor: pointer;
	}

	a.mw-echo-grey-link {
		color: #6D6D6D;
	}

	.mw-echo-notifications,
	ul {
		overflow: auto;
	}

	li.mw-echo-notification {
		display: block;
		padding: 0;

		&:hover {
			.mw-echo-notification-wrapper {
				background-color: #F9F9F9;
			}
		}

		.mw-echo-notification-wrapper {
			display: block;
			background-color: #F1F1F1;
			border-bottom: 1px solid #DDDDDD;
			padding: 15px 40px 10px 10px;
			white-space: normal;
			font-size: 13px;
			line-height: 16px;
			/* Suppress standard links styles */
			color: inherit;
			text-decoration: inherit;
		}

		&.mw-echo-unread {
			.mw-echo-notification-wrapper {
				background-color: white;
			}

			&:hover {
				.mw-echo-notification-wrapper {
					background-color: #F9F9F9;
				}
			}

			button {
				padding: 0;
				background: none;
				border: none;
			}
		}

		&:last-child {
			.mw-echo-notification-wrapper {
				border-bottom: none;
			}
		}
	}
}

.mw-echo-notification-primary-link {
	display: none;
}

.mw-echo-overlay-title {
	/*border-bottom: 1px solid #A7D7F9;*/
	font-size: 13px;
	line-height: 15px;
	padding: 15px 15px 15px 28px;
	border-bottom: 1px solid #DDDDDD;

	button {
		line-height: 15px;
		font: inherit;
	}
}

/* override #p-personal li*/
#p-personal .mw-echo-overlay-title li {
	font-size: 1em;
	margin-left: 0;
}

.mw-echo-overlay-title li {
	&::after {
		content: " · ";
		padding: 0 .25em;
	}
	&:last-child {
		&::after {
			content: '';
		}
	}
}

#mw-echo-overlay-title-text {
	display: inline;
	zoom: 1;
	white-space: normal;
}

#mw-echo-overlay-moreinfo-link {
	display: inline-block;
	margin: 0 2px -1px 4px;
	height: 13px;
	width: 13px;
	/* @embed */
	background-image: url(Help.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	filter: alpha(opacity=50);
	opacity: 0.5;

	&:hover {
		filter: alpha(opacity=100);
		opacity: 1.0;
	}
}

#mw-echo-overlay-footer {
	padding: 0;
	border-top: 1px solid #DDDDDD;
	display: table;
	width: 100%;

	a {
		float: none;
		display: table-cell;
	}
}

#mw-echo-overlay-link {
	display: block;
	clear: left;
	float: left;
	padding: 15px 15px 15px 45px;
	min-height: 14px;
	font-size: 13px;
	font-weight: bold;
	/* @embed */
	background: url(../icons/NotificationsPage-ltr.png) no-repeat 20px 15px !important;
	white-space: normal;

	&:hover {
		text-decoration: none;
	}
}

#mw-echo-overlay-pref-link {
	display: block;
	float: left;
	min-height: 14px;
	font-size: 13px;
	font-weight: bold;
	padding: 15px 15px 15px 45px;
	border-left: 1px solid #DDDDDD;
	/* @embed */
	background: url(../icons/Settings.png) no-repeat 20px 15px !important;
	white-space: normal;

	&:hover {
		text-decoration: none;
	}
}

#pt-notifications {
	position: relative;
}

.mw-echo-overlay-none {
	font-size: 13px;
	border-bottom: 1px solid #DDDDDD;
	padding: 15px 15px 10px 60px;
}

#mw-echo-overlay-feedback-link {
	position: absolute;
	bottom: 12px;
	right: 15px;
}
