.mw-echo-icon {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 5px;
	background: no-repeat center left;
	margin-bottom: 10px;
}

.mw-echo-icon-placeholder {
	/* @embed */
	background-image: url(placeholder.png);
}

.mw-echo-icon-chat {
	/* @embed */
	background-image: url(chat.png);
}

.mw-echo-icon-w {
	/* @embed */
	background-image: url(W.png);
}
