.mw-echo-icon {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 8px;
	background: no-repeat center left;
}

.mw-echo-icon-chat {
	/* @embed */
	background-image: url(Talk.png);
}
.mw-echo-icon-linked {
	/* @embed */
	background-image: url(CrossReferenced.png);
}
.mw-echo-icon-featured {
	/* @embed */
	background-image: url(Featured.png);
}
.mw-echo-icon-reviewed {
	/* @embed */
	background-image: url(Reviewed.png);
}
.mw-echo-icon-tagged {
	/* @embed */
	background-image: url(ReviewedWithTags.png);
}
.mw-echo-icon-w {
	/* @embed */
	background-image: url(W.png);
}
.mw-echo-icon-revert {
	/* @embed */
	background-image: url(Revert.png);
}
.mw-echo-icon-checkmark {
	/* @embed */
	background-image: url(Reviewed.png);
}
